<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </head>
     
    <body>
        <header
            class=" d-flex flex-wrap align-items-center justify-content-center justify-content-md-between mb-4 border-bottom">
            <div class="m-2">
                     <a href="{{ path('admin') }}" class="btn btn-outline-primary me-2">Admin panel</a>
            </div>
        </header>
         {% block body %}
             <div class="container-xxl">

             </div>
         {% endblock %}
    </body>
</html>
